html, body{
    height: 100%;
    width:100%;
}
.outer{
    height: 100%;
    width:100%;
}
*{
    margin: 0;
    
}
/* navigation bar */
.nav-bar{
    text-align: center;
    background:  linear-gradient( 45deg, #000000,#706e6e) ;
    height:20%;
    width: 100%;
}
.nav-bar p{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 38%;
    width: 40%;
    color: white;
    font-size: 3rem;
    background-color: #1e1e1e;
    margin-left: 30%;
    border-radius: 5px;
}
#city-input{
    margin-top: 3%;
    width:40%;
    height: 20%;
    border-radius: 5px;
    margin-right: 1%;
    color: white;
    background:linear-gradient( 45deg, #201f1f,#656464);
    border:0;
    padding-left: 2%;
}
#get-city{
    margin-top: 3%;
    width:20%;
    height: 23%;
    border-radius: 5px;
    background:linear-gradient( 45deg,#201f1f,#656464);
    border: 0;
    color: white;
}
#city-input:hover{
    background:linear-gradient( 45deg, #000000,#a09d9d); 
}
#get-city:hover{
    background:linear-gradient( 45deg, #000000,#a09d9d); 
    cursor: pointer;
}
/*Ends*/

/*Info*/
.info{
    height: 80%;
    background: linear-gradient(45deg, #1e1e1e, #3b3b3b); 
    padding: 5% 20% 0% 20%;
    color: white;
}
.name{
    height: 10%;
    width:100%;
    font-size: 3rem;
}
.name i{
    margin-left: 2%;
    font-size: 2rem;
}
.all{
    /* height:89%; */
    width:100%;
    background-color:#3b3b3b ;
    padding: 3%;
}
.first{
    display: flex;
    align-items: center;
    padding-top: 5%;
    height: 25%;
    width: 100%;
}
.img{
    height:100%;
    width: 20%;
    margin-right: 10%;
}
.temp{
    margin-right: 10%;
}
.temperature{
    font-size: 2rem;
}
.cel{
    font-size: 4rem;
}
.wea{
    align-items: end;
}
.weather{
    font-size: 2rem;
}
.weather-type{
    font-size: 4rem;
}
.second{
    height:10%;
    display: flex;
    font-size: 1.5rem;
    padding-top: 3%;
    
}
.max{
    display: flex;
    margin-right: 10%;
}
.min{
    display: flex;
}
.third{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.air,.wind,.humidity,.visibility{
    margin-right: 6%;
}
.air-qa,.wind-qa,.humi-qa,.visi-qa,.press-qa{
    font-size: 1.5rem;
}
.aqua,.wqua,.hqua,.vqua,.pqua{
    font-size: 2rem;
}
